@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 25%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 25%;
    --primary: 188 10% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188 10% 96%;
    --secondary-foreground: 0 0% 30%;
    --muted: 188 8% 95%;
    --muted-foreground: 188 5% 50%;
    --accent: 188 14% 67%; /* Color #A0B4B7 solicitado */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 188 5% 90%;
    --input: 188 5% 90%;
    --ring: 188 14% 67%;
    --radius: 2rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
    -webkit-user-select: none;
    user-select: none;
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}